extends layout

block content
  - let features = 0;
  .inner_content
    .logo
      img.logo-img(src="/images/yomonio-logo@2.png" alt="Yomonio" width="156" height="59")
    .is-full
      if blocks && blocks.length > 0
        each block in blocks
          if block.template === 'hero'
            .row.hero
              .column-1=" "
              .column-5
                p #{block.items[1].content}
                a.button.button--primary(href="#interesse" title=block.items[0].content) #{block.items[0].content}
              .column-5.align-center
                img(src=`/uploads/${block.items[2].content}` title="hero image")
              .column-1=" "
          else if block.template === 'preview'
            .row.preview
              .column-2=" "
              .column-8.center-align
                h2 #{block.items[0].content}
                .downloads
                  img.trigger-modal(src="/images/app-store-badge.svg" style="cursor: pointer;")
                  img.trigger-modal(src="/images/google-play-badge.png" style="height: 59px!important; position: relative; top: 10px;cursor: pointer;")
              .column-2=" "
            .row.preview
              .column-2=" "
              .column-8.center-align
                img(src=`/uploads/${block.items[1].content}` title="hero image")
              .column-2=" "
          else if block.template === 'features'
            - features++;
            if features % 2 === 0 && features !== 1
              .row.feature.feature-bg
                .column-1=" "
                .column-4
                  h2 #{block.items[0].content}
                  p #{block.items[1].content}
                .column-7.center-align
                  img(src=`/uploads/${block.items[2].content}` title="feature image")
            else
              .row.feature
                .column-1=" "
                .column-4
                  h2 #{block.items[0].content}
                  p #{block.items[1].content}
                .column-7.right-align
                  img(src=`/uploads/${block.items[2].content}` title="feature image")
      .row.interesse
        .column-2=" "
        .column-8.center-align
          a(name="interesse")
          h2 Interesse? De Yomonio app is nog niet helemaal klaar
          p Maar als je je e-mailadres achterlaat, zorgen we dat jij de app als eerste kunt gebruiken
          .form__placeholder.inline--button#interestedEmail
            input(type="email" name="email" id="email" class="input input__field" placeholder="Uw email")
            input(type="button" value="Verstuur" class="input input__button inline__button" onClick="registerInterested()")
          p.green#interestedDone Gelukt! We hebben je e-mailadres ontvangen. Je hoort snel van ons!
          em We gebruiken je e-mailadres nergens anders voor... beloofd
        .column-2=" "


  .modal-underlay#not-yet(style="display: none;")
    .modal
      .modal__header
        h3 Dank voor je interesse in Momonio
      .modal__content
        p We zijn nog bezig met de ontwikkeling van de app. Wil je op de hoogte gehouden worden? En als eerste de app gebruiken?
        p Laat dan hier je naam en telefoonnummer achter
        form.form(method="POST" action="/")
          .form__placeholder
            input(type="text" name="naam" class="input input__field" placeholder="Uw naam")
          .form__placeholder
            input(type="text" name="telefoonnummer" class="input input__field" placeholder="Uw telefoonnummer")
          .form__placeholder
            input(type="submit" value="Hou mij op de hoogte" class="input input__button input__button")